<%= link_to "Delete", @question, :data => {:confirm => 'sure?'}, :method => :delete, class: 'btn btn-danger pull-right', style: 'margin-top: 20px;'%>
<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success pull-right', style: 'margin-top: 20px;margin-right:10px;'%>
<h1>
  <%= @question.title %>
</h1>
<% if @question.resolved%>
  <span class="label label-primary">Resolved</span>
<% else %>
  <span class="label label-default">Unresolved</span>
<% end %>


<p><%= @question.body %></p>
