// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  background-color: tomato;
  padding: 0.5rem 1.5rem;
  color:white;
  border-radius: 4px;
  text-shadow: 0 2px darken(tomato, 20)
}